{% extends 'admin/base.html.twig' %}

{% block title %}Administration des retex{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 class="my-5">Gestion des Compte-rendus</h1>
        <div class="row">
            <p class="">
                <span> 
                    <button class="btn-primary"> 
                        nombre de publications : {{ retex.getTotalItemCount }}
                    </button>
                </span> 
            </p>
        </div>
            <table class="table table-hover">
                <thead>
                  <th class="text-left">Auteur</th>
                   <th class="text-left">Rédacteurs</th> 
                   <th class="text-left">{{ knp_pagination_sortable(retex, 'Titre', 'r.titre') }}</th>
                   <th class="text-left">{{ knp_pagination_sortable(retex, 'Objet', 'r.objet') }}</th>
                   <th class="text-left">{{ knp_pagination_sortable(retex, 'Date de rédaction', 'r.created_at') }}</th>
                   <th class="text-center">Action</th> 
                </thead>
                <tbody>
                    {% for retex in retex %}    
                <tr>
                   

                    <td class="text-center">
                        {% if not retex.author.Filename %}
                          <button class="btn-secundary"><i class="fas fa-user-tie"> </i></button>
                          {% else %}
                          <img src="{{  asset('images/users/' ~ retex.author.Filename) }}" class= "avatar avatar-micro"alt=" Avatar de {{retex.author.fullname}} " class="src"> </h6>
                                
                          {% endif %}
                    </td>

                    <td class="text-left">{{retex.author.fullname}}</td>

                    <td>{{retex.titre}}</td>

                    <td class="text-left">{{retex.objet}}</td>
               
                    <td class="text-left">{{retex.createdAt | date("d-m-Y")}}</td>
                    <td class="text-center">
                            {% if retex.published %}
                            <a href="" class="btn btn-success" 
                                onMouseOver="displayDivInfo('En ligne !');" 
                                onMouseOut="displayDivInfo()"> 
                                    <i class="fas fa-broadcast-tower">
                                    </i>
                            </a>

                               {% else %}
                            <a href="" class="btn btn-warning" 
                                onMouseOver="displayDivInfo('A publier...');" 
                                onMouseOut="displayDivInfo()"> 
                                    <i class="fas fa-file-export">
                                    </i>
                            </a>
                             
                            {% endif %}
                        <a href="{{path ('admin_retex_edit', {'id': retex.id} )}}" class="btn btn-primary" onMouseOver="displayDivInfo('Editer');" onMouseOut="displayDivInfo()" ><i class="fas fa-edit"></i></a>
                        <a href="{{path ('admin_retex_delete', {'id': retex.id} )}}" class="btn btn-danger"
                                onMouseOver="displayDivInfo('Supprimmer');" 
                                onMouseOut="displayDivInfo()" 
                                onclick="return confirm(`Etes vous sûr de vouloir supprimez ce compte rendu : {{retex.titre}} ?`)">
                                <i class="fas fa-trash">
                                </i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>            
         {# display navigation #}
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="centering text-center">
                        
                        <div>
                         <ul class="pagination pagination-sm">
                        {{ knp_pagination_render(retex) }}
                        </div>
                </div>
            </div>
        </div>

         
    </div>
{% endblock %}
{% block javascripts %}
<script src="/js/infos.js"></script>
{% endblock %}