{% extends 'base.html.twig' %}

{% block title %} liste des rédacteurs!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-5">Liste des rédacteurs</h1>

    <div class="row">
        <p class="">
            <span> 
                <button class="btn-primary"> 
                     nombre de Rédacteurs : {{ user.getTotalItemCount }}
                 </button>
            </span> 
        </p>
    </div>
      
            <table class="table table-hover" id="dtMaterialDesignExample">
                <thead>
                   
                   <th>{{ knp_pagination_sortable(user, 'Nom', 'u.lastName') }}</th>
                   <th >{{ knp_pagination_sortable(user, 'Prénom', 'u.firstName') }}</th>
                   <th class="text-center">{{ knp_pagination_sortable(user, 'Email', 'u.email') }}</th>
                   <th class="text-center">Avatar</th>
                  
                   <th class="text-center">Action</th> 
                </thead>
                <tbody>
                    {% for user in user %}    
                <tr>
                    
                    <td>{{user.lastName}}</td>
                    <td>{{user.firstName}}</td>
                    <td class="text-center">{{user.email}}</td>
                    
                    {% if not user.Filename %}
                        
                         <td class="text-center"> <button class="btn-secundary"><i class="fas fa-user-tie"> </i></button></td>
                         
                          {% else %}
                         
                         <td class="text-center"> 
                         <img src="{{  asset('images/users/' ~ user.Filename) }}" 
                         class= "avatar avatar-medium"
                         alt=" Avatar de {{user.fullname}} " class="src"> </h6></td>
                                
                          {% endif %}
                    
                    

                    <td class="text-center">
                        <a href="{{ path ('user_final' , {'slug' : user.slug }) }}" class="btn btn-primary" onMouseOver="displayDivInfo('voir les publications');" onMouseOut="displayDivInfo()"><i class="fab fa-critical-role"></i></a>
                      
                                             
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table> 

        {# display navigation #}
            <div>
              <ul class="pagination pagination-sm">
                {{ knp_pagination_render(user) }}
            </div>          

    </div>
{% endblock %}

{% block javascripts %}
<script>
            function displayDivInfo(text){
                if(text){
                    //Détection du navigateur
                    is_ie = (navigator.userAgent.toLowerCase().indexOf("msie") != -1) && (navigator.userAgent.toLowerCase().indexOf("opera") == -1);
                    
                    //Création d'une div provisoire
                    var divInfo = document.createElement('div');
                    divInfo.style.position = 'absolute';
                    document.onmousemove = function(e){
                        x = (!is_ie ? e.pageX-window.pageXOffset : event.x+document.body.scrollLeft);
                        y = (!is_ie ? e.pageY-window.pageYOffset : event.y+document.body.scrollTop);
                        divInfo.style.left = x+15+'px';
                        divInfo.style.top = y+15+'px';
                    }
                    divInfo.id = 'divInfo';
                    divInfo.innerHTML = text;
                    document.body.appendChild(divInfo);
                }
                else{
                    document.onmousemove = '';
                    document.body.removeChild(document.getElementById('divInfo'));
                }
            }
</script>




{% endblock %}


